<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/course/{{course.id}}">{{course.title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/home" class="nav-item nav-link active" >Home</a>&nbsp;
      <a routerLink="/login" class="nav-item nav-link active" *ngIf="login">Login</a>&nbsp;
      <a routerLink="/register" class="nav-item nav-link active" *ngIf="login">Register</a>
      <button (click)="logout()" *ngIf="!login" class="btn btn-dark float-right nav-item nav-link active" >Logout</button>
      <a routerLink="/profile" *ngIf="!login" class="nav-item nav-link active">Profile</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <br/>
    <div>
      <h4 *ngIf="!login">Hi, {{user.firstName}}</h4>
      <app-module-list></app-module-list>
    </div>
</div>
