<div class="container">
  <h2>Login</h2>
  <div class="alert alert-danger" role="alert" *ngIf="loginValid">
    Invalid Login credentials
  </div>
  <label for="username">Username</label>
  <input type="text" placeholder="username" class="form-control" id="username" [(ngModel)]="username">
  <br/>
  <label for="password">Password</label>
  <input type="password" placeholder="password" class="form-control" id="password" [(ngModel)]="password">
  <br/>
  <button class="btn btn-primary" (click)="login(username,password)">Login</button>

  <a routerLink="/home">Home</a>&nbsp;
  <a routerLink="/register">Register</a>
</div>
