<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/login" class="nav-item nav-link active" >Login</a>
      <a routerLink="/home" class="nav-item nav-link active" >Home</a>&nbsp;
      <a routerLink="/register" class="nav-item nav-link active" *ngIf="login">Register</a>
      <button (click)="logout()" *ngIf="!login" class="btn btn-dark float-right nav-item nav-link active" >Logout</button>
      <a routerLink="/profile" *ngIf="!login" class="nav-item nav-link active">Profile</a>
    </div>
  </div>
</nav>

<div class="container" style="border:1px solid black;margin-top: 2%;padding-bottom: 2%">
  <h2>Login</h2>
  <div class="alert alert-danger" role="alert" *ngIf="loginValid">
    Invalid Login credentials
  </div>
  <label for="username">Username</label>
  <input type="text" placeholder="username" class="form-control" id="username" [(ngModel)]="username">
  <br/>
  <label for="password">Password</label>
  <input type="password" placeholder="password" class="form-control" id="password" [(ngModel)]="password">
  <br/>
  <button class="btn btn-outline-dark" (click)="login(username,password)">Login</button>
</div>
